{
	"parser": "@typescript-eslint/parser",
	"extends": [
		"wesbos"
	],
	"plugins": ["@typescript-eslint"],
	"rules": {
		"react/jsx-filename-extension": [1, { "extensions": [".tsx", ".jsx"] }],
		"no-use-before-define": "off",
		"@typescript-eslint/no-use-before-define": ["off"],
		"react/prop-types": "off",
	},
	"settings": {
		"import/resolver": {
		"node": {
			"extensions": [".js", ".jsx", ".ts", ".tsx"]
			}
		}
	}
}